<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lista Trabajadores</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h2 class="pb-2 pt-2 border-bottom">Lista de trabajadores</h2>
    <a class="btn btn-primary mt-4 mb-4" th:href="@{/trabajadores/agregar}">Nuevo Trabajador</a>
    <div th:if="${msg1 != null}" th:text="${msg1}" class="alert alert-success" role = "alert"></div>
    <div th:if="${msg2 != null}" th:text="${msg2}" class="alert alert-warning" role = "alert"></div>
    <div th:if="${msg3 != null}" th:text="${msg3}" class="alert alert-danger" role = "alert"></div>
    <table class="table table-sm">
        <tr>
            <th>#</th>
            <th>DNI del Trabajador</th>
            <th>Correo del Trabajador</th>
            <th>Nombre del Trabajador</th>
            <th>Apellidos del Trabajador</th>
            <th></th>
            <th></th>
        </tr>
        <tr th:each="trabajador,i : ${listaTrabajadores}">
            <td th:text="${i.index+1}"></td>
            <td th:text="${trabajador.dni}"></td>
            <td th:text="${trabajador.correo}"></td>
            <td th:text="${trabajador.nombres}"></td>
            <td th:text="${trabajador.apellidos}"></td>
            <td><a class="btn btn-primary" th:href="@{'/trabajadores/editar?dni=' + ${trabajador.dni}}">Editar</a></td>
            <td><a class="btn btn-danger" th:href="@{'/trabajadores/borrar?dni=' + ${trabajador.dni}}">Borrar</a></td>
        </tr>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>